.slider {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    padding: 12px 15px;
    background-color: #fff; 
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0,0,0,0.2); 
    font-size: 15px; 
    border: 1px solid #ccc;
    cursor: pointer; /* Pointer cursor when hovered over */
}

/* hide slider 2 */
.hidden {
    display: none;
    visibility: hidden;
}

/* Add hover effect */
.slider:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.3); /* Darker shadow on hover */
    background-color: #f9f9f9; /* Slight background color change on hover */
}

/* Styling the label */
.slider label {
    font-size: 15px; 
    margin-bottom: 5px;
    color: #333; /* Dark text for readability */
    font-weight: normal; /* Make the label text bold */
}

/* Styling the slider itself */
#year-slider, #year-slider-2 {
    width: 300px; /* Fixed width for the slider */
    height: 8px; /* Height of the slider track */
    background: #ddd; /* Light gray track */
    border-radius: 5px; /* Rounded track */
    outline: none; /* Remove outline */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Styling the thumb of the slider */
#year-slider::-webkit-slider-thumb, #year-slider-2::-webkit-slider-thumb {
    appearance: none; /* Remove default thumb appearance */
    width: 20px; /* Width of the thumb */
    height: 20px; /* Height of the thumb */
    border-radius: 50%; /* Round thumb */
    background: #0078a5; /* Leaflet blue color for the thumb */
    cursor: pointer; /* Pointer cursor */
    border: 2px solid #fff; /* White border around the thumb */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Shadow for the thumb */
}

/* Add hover effect for the slider thumb */
#year-slider::-webkit-slider-thumb:hover, #year-slider-2::-webkit-slider-thumb:hover {
    background: #005f7f; /* Darker blue thumb on hover */
}

#year-label, #year-label-2{
    font-weight: bold;
    margin-bottom: 5px;
}

.row {
    display: flex;                
    flex-direction: column;       
    align-items: center;
}

.column {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
